<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="accueil">
      <ion-tab-button tab="accueil" routerLink="/accueil">
        <ion-icon name="home-outline" ></ion-icon>
        <ion-label  >Accueil</ion-label>
       
      </ion-tab-button>
  
      <ion-tab-button tab="recherche"  routerLink="/recherche">
        <ion-icon name="search"></ion-icon>
        <ion-label>Recherche</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="favoris" routerLink="/favoris">
        <ion-icon name="heart-outline" ></ion-icon>
        <ion-label >Favorie</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile" routerLink="/profile">
        <ion-icon name="person-outline" ></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
