<ion-content>
    <ion-label class="top-txt">Mes Favoris</ion-label>
    <div class="row">
      <div class="column"> 
        <ion-col size="6" >
         <div class="serv">
          <img src="../assets/img/profile.png" class="profile-image"/>
         <img src="../assets/img/test.png" class="img-serv"/>
         <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
           <ion-icon name="heart" class="like-icon"></ion-icon></button>
           <div class="informations" >
            <div class="col-4 location">
                    <ion-icon name="location-outline"  class="icon" ></ion-icon>
                    <span item-start>50 </span>
                  </div>
                  <div  class="col-4 rate">
                    <ion-icon name="star-outline" class="icon" ></ion-icon>
                    <span item-start>5</span>
                  </div>
                  <div  class="col-4 person">
                    <ion-icon name="person-outline" class="icon" ></ion-icon>
                    <span item-start>47</span>
                  </div>
                </div>
              </div> 
       </div>
       </ion-col>
      
       
  
  
  
       <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/1.jpg" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
       
       
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/2.jpg" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/cap.png" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/cap.png" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>  
    </div>
  
    <div class="column"> 
        <ion-col size="6" >
         <div class="serv">
          <img src="../assets/img/profile.png" class="profile-image"/>
         <img src="../assets/img/cap.png" class="img-serv"/>
         <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
           <ion-icon name="heart" class="like-icon"></ion-icon></button>
           <div class="informations" >
            <div class="col-4 location">
                    <ion-icon name="location-outline"  class="icon" ></ion-icon>
                    <span item-start>50 </span>
                  </div>
                  <div  class="col-4 rate">
                    <ion-icon name="star-outline" class="icon" ></ion-icon>
                    <span item-start>5</span>
                  </div>
                  <div  class="col-4 person">
                    <ion-icon name="person-outline" class="icon" ></ion-icon>
                    <span item-start>47</span>
                  </div>
                </div>
              </div> 
       </div>
       </ion-col>
      
       
  
  
  
       <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/cap.png" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
       
       
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/download.jpg" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/cap.png" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>
  
  
      <ion-col size="6" >
        <div class="serv">
         <img src="../assets/img/profile.png" class="profile-image"/>
        <img src="../assets/img/cap.png" class="img-serv"/>
        <div class="sp"><P class="serv-name">Restaurant name</P><button class="btnlike" >
          <ion-icon name="heart" class="like-icon"></ion-icon></button>
          <div class="informations" >
           <div class="col-4 location">
                   <ion-icon name="location-outline"  class="icon" ></ion-icon>
                   <span item-start>50 </span>
                 </div>
                 <div  class="col-4 rate">
                   <ion-icon name="star-outline" class="icon" ></ion-icon>
                   <span item-start>5</span>
                 </div>
                 <div  class="col-4 person">
                   <ion-icon name="person-outline" class="icon" ></ion-icon>
                   <span item-start>47</span>
                 </div>
               </div>
             </div> 
      </div>
      </ion-col>  
    </div>
  
  
  
  
  
   </div>
</ion-content>
