<ion-content >
  <div class="row">
    <img   class="col-lg-12 img-responsive center-block mx-auto bs-center-x logo" src="../assets/img/Universe.png">
    <img class="position-logo"  src="../assets/img/Blocation-logo.png">
<div class=" col-lg-12 row text-home ">
<h1>Bienvenue</h1>
<h5>Manage your expenses</h5>
<h2>seamlessly & intuity</h2>
</div>
<div  class="col-lg-12 cnxbtns ">

<ion-button color="light"  class=" col-lg-12 btn-connection" [routerLink]="['/account-form']" >
  <ion-icon name="chevron-down-outline" class="icons col-1"></ion-icon>
  <span class="my-text col-7">Sign up</span>
</ion-button> 
<form>
  <ion-textarea class="form" >Username :  </ion-textarea>
  <ion-textarea class="form" >E-mail :   </ion-textarea>
  <ion-textarea class="form" >Mot de passe :  </ion-textarea>
 
  

  
  <div  class="col-lg-12 cnxbtns " >
  <ion-button color="light"  class=" col-lg-12 btn-connection" [routerLink]="['/signupform']" >
    <span class="my-text col-7 " class="submit" >Inscription</span>
  </ion-button> 
  </div>
  </form>
 <ion-button color="light"  class=" col-lg-12 btn-connection" [routerLink]="['/login']" >
  <ion-icon name="chevron-forward-outline" class="icons col-1"></ion-icon>
  <span class="my-text col-7">Login</span>
</ion-button>          
</div>
</div>
</ion-content>