ion-content {
    --ion-background-color: linear-gradient(
        197deg, 
        #DB417B 0%, 
        #86338B 100%
    ) !important;
  }
  
  .text-home{
    margin-top: 50PX;
      margin-left: 10%;
    font-family: Rubik;
    color: white;
   
  }
  .logo{
    margin-top: 50px;
    width:300px;
  }
  .position-logo{
    LEFT: 30%;
    TOP: 10%;
    position: absolute;
    z-index: 1;
  }
  
  .abs-center-x {
   
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .btn-connection{
    border-radius: var(--border-radius);
    z-index: 100;
    DISPLAY: INLINE-GRID;
      WIDTH: CALC( 90% );
  }
  .btn-connection:hover {
    --ion-color-shade: #f1b257;
  }
  .icons{
    color: #DB417B;
    position: absolute;
    left: 0.5em;
    font-size: 25px;
    z-index: 99;
  }
  .btns{
    z-index: 10;
    margin-top: 5%;
  }
  .my-text{
    text-align: left;
    color: #DB417B;
    margin: calc(100% - 50%);
    font-size: 1em;
    font-family : rubik;
    TEXT-TRANSFORM: CAPITALIZE;
    text-align : left;
    z-index: 10;
  }
  .pro-txt{
    color: #81A2E4;
    font-family: Rubik;
        FONT-SIZE: 14PX;
       
          
  }
  .account{
    z-index: 100;
    color: white;
    font-family: Rubik;
    FONT-SIZE: 14PX;
  
  }
  .cnxbtns{
    text-align: center !important; z-index: 100;
  }
  .footer{
    z-index: 100;
    display:inline-block;
    line-height: 150%;vertical-align:middle;text-align:left;
    MARGIN-LEFT: 3%;
    
  }
  .submit{
    text-align: left;
    color: #DB417B;
    margin: calc(100% - 50%);
    font-size: 1em;
    font-family : rubik;
    TEXT-TRANSFORM: CAPITALIZE;

    z-index: 10;
  }
  .form{
    ALIGN-ITEMS: baseline;
    COLOR: WHITE;
    display: inline-flex;
    margin: auto;
    margin-left: 5%;
 
  }