  <ion-content >
    <div class="row">
      <img   class="col-lg-12 img-responsive center-block mx-auto bs-center-x logo" src="../assets/img/Universe.png">
      <img class="position-logo"  src="../assets/img/Blocation-logo.png">
<div class=" col-lg-12 row text-home ">
  <h1>Bienvenue</h1>
  <h5>Manage your expenses</h5>
<h2>seamlessly & intuity</h2>
</div>
<div  class="col-lg-12 " class="buttoncnx"  >
  
  <ion-button color="light"  class=" col-lg-12 btn-connection" [routerLink]="['/signup']" >
    <ion-icon name="chevron-forward-outline" class="icons col-1"></ion-icon>
    <span class="my-text col-7">Sign up</span>
  </ion-button> 
   <ion-button color="light"  class=" col-lg-12 btn-connection" [routerLink]="['/login']" >
    <ion-icon name="chevron-forward-outline" class="icons col-1"></ion-icon>
    <span class="my-text col-7">Login</span>
  </ion-button>          
</div>
</div>
</ion-content>
