.position-logo{
    TOP: 25%;
    position: absolute;
    z-index: 0;
  }
.btns{
    z-index: 100;
    MARGIN: 5%;
    display: block;
    color: #86338b;
    justify-content: normal;
    --box-shadow : none !important;
   
    
}
.caroussel{
    display: GRID;
    margin: auto;
    margin-top: 3%;
    BORDER-RADIUS: 10PX;
 
}
.icons{
    color: #86338b;
    position: absolute;
    right: 90%;
    left: 0;
    FONT-SIZE: 20PX;
}
.span-txt{
    color: #86338b;
    DISPLAY: block;
    MARGIN-TOP: 7%;
    margin-left: 6%;
    font-size: 14PX;
    font-family: roboto;
}
.btns{
    text-align-last: justify;
    HEIGHT: 25PX;
}

.arrow{
    color: #86338b;
    position: absolute;
    right: 0;
    left:90%;
    FONT-SIZE: 13PX;
}
.under{
    z-index: 100;
    --ion-background-color: linear-gradient(
      197deg, 
      #DB417B 0%, 
      #86338B 100%
  ) !important;
  color: white;
    FONT-SIZE: 14PX;
    FONT-FAMILY: ROBOTO;;
}
.under2{
    z-index: 100;
    margin-top: 2%;
    margin-left: 5%;
margin-bottom: 2%;
}
.lab{
    MARGIN-TOP: 3%;
    DISPLAY: grid;
    TEXT-ALIGN: CENTER;
    FONT-FAMILY: ROBOTO;
    font-size: 20PX;
    FONT-WEIGHT: BOLD;
}