<ion-content >
  <div class="row">
      <img   class="col-lg-12 img-responsive center-block mx-auto bs-center-x logo" src="../assets/img/Universe.png">
      <img class="position-logo"  src="../assets/img/Blocation-logo.png">
<div class=" col-lg-12 row text-home ">
  <h1>Bienvenue</h1>
  <h5>Manage your expenses</h5>
<h2>seamlessly & intuity</h2>
</div>
<div  class="col-lg-12 cnxbtns" >
  
  <ion-button color="light"  class=" col-lg-12 btn-connection" >
    <span class="fa fa-google icons col-1"></span> 
    <span class="my-text col-7">Se connecter avec Google</span>
  </ion-button> 

  <ion-button color="light"  class=" col-lg-12 btn-connection" >
    <span class="fa fa-facebook-square icons col-1"></span> 
    <span class="my-text col-7">Se connecter avec Facebook</span>
  </ion-button> 
     
   <ion-button color="light"  class=" col-lg-12 btn-connection " >
    <span class="fa fa-linkedin icons col-1"></span> 
    <span class="my-text col-7">Se connecter avec Linkedin</span>
  </ion-button> 
     

</div>
<div class="col-12 footer py-4">
<p class="pro-txt">Vous êtes un professionnel ?
    <a  class="account " [routerLink]="['/account-form']" >Créer un compte</a>
  </p>
</div>
</div>

</ion-content>
