<ion-content style="overflow-x: scroll;">
  <ion-label class="lab">Restaurants</ion-label>
  <div>
  
    <img src="../assets/img/pub.png" class="caroussel">
    <img class="position-logo"  src="../assets/img/hiddenlogo.png">
    </div>
  <ion-list style="z-index: 100;">

  
     <span class="span-txt" routerLink="/sous-categorie">Restaurants</span> 
     <span class="span-txt" routerLink="/sous-categorie">Snack/Pizzeria</span>
     <span class="span-txt" routerLink="/sous-categorie">PUB</span>
     <span class="span-txt" routerLink="/sous-categorie">Boulangerie</span>
     <span class="span-txt" routerLink="/sous-categorie">Bar à Chicha</span>
     <span class="span-txt" routerLink="/sous-categorie">Épicerie</span>
     <span class="span-txt" routerLink="/sous-categorie">Salon de Thé</span>
     <span class="span-txt" routerLink="/sous-categorie">Dons alimentaires</span>
    </ion-list>
</ion-content>
