.linebtn{
   display: inline-flex; margin-top: 2%;
}
.containerbtns{
    background-color:#F2F2F2 ;
}
.scrolly{
    overflow-y: scroll;
}
.scrollx{
    overflow-x: scroll;
}
.footer{
    HEIGHT: 70PX;
    
}
.displayflex{
    DISPLAY: flex;
}
.ico{
    color: #db417b;

}
.caroussel{
    display: GRID;
    margin: auto;
    margin-top: 3%;
    BORDER-RADIUS: 10PX;
    WIDTH: 90%;
   

}
.profil-photo{
    DISPLAY: block;
    Z-INDEX: 10;
    MARGIN-LEFT: 6%;
    MARGIN-TOP: -10%;
    BORDER-RADIUS: 50%;
    HEIGHT: 80PX;
    WIDTH: 80PX;
}
.btn-cat{
    height: 50PX;
    width: 150PX;
}
.service-name{
    position: absolute;
    margin: auto;
    MARGIN-LEFT: 30%;
    top: 113PX;
    z-index: 100;
    FONT-SIZE: 15PX;
    font-family: rubik;
    color:  #e0e0e0;
}
.categories{
    color:  #db417b;
    FONT-SIZE: 20PX;
    margin-left: 10%;
    
}
.icons{
    color: #86338b;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 20PX;
    left: 0;
}
.span-txt{
    font-family: Roboto;
    color: #86338b;
    position: absolute;
    margin: auto;
    top: 35PX;
    right: 0;
    bottom: 0;
    left: 0;  
}
.tout-aff{
   color: #2C2C2C;
    FONT-SIZE: small;
    font-family: monospace;
    DISPLAY: block;
    margin: auto;
   z-index: 1000;
}
.btns{
    MARGIN: 7PX;
    WIDTH: 130PX;
    HEIGHT: 60PX;
    box-shadow: 2px 4px 6px -6px #707070;
   border-radius: 12PX !important;
}
.scroll{
color: #F2F2F2;
}
