<ion-content class="scrollx">
<div>

<img src="../assets/img/Banner.png" class="caroussel">



</div>
<div>
  <img src="../assets/img/profile.png" class="profil-photo">
</div>

<h1 class="service-name">
  restaurant nova 
 </h1>
 


  
  <div class="displayflex">
    <H3 class="categories col-6" >Catégories</H3> 
    <ion-label  color="danger" class="tout-aff col-6"  routerLink="/all-categories">Afficher tout</ion-label>
  </div>



<ion-card class="containerbtns" >
  <ion-infinite-scroll class="scrolly" [scrollX]="true"  >
  <div class="linebtn">
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="heart-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Bien-etre</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="star-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Evenemants</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="shirt-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Vetemant</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="construct-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Travaux</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="fitness-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Santé</span> 
      </ion-button>
    </div>
    <div class="linebtn">
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="restaurant-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Restaurants</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="cash-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Commerce</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="leaf-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Nature</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="settings-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Services</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="barbell-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Salle de sports</span> 
      </ion-button>
    </div>

    <div class="linebtn">
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="cafe-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Coffee-shop</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="car-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Auto-Moto</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="cart" class="icons" item-start></ion-icon>
       <span class="span-txt">Magasains</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="paw-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">viande Mart</span> 
      </ion-button>
      <ion-button color="light" class="btns"  ion-item>
        <ion-icon name="fish-outline" class="icons" item-start></ion-icon>
       <span class="span-txt">Poissons Mart</span> 
      </ion-button>
    </div>
    </ion-infinite-scroll> 
  </ion-card>
</ion-content>



