
.column {
  float: left;
  width: 50%;
  
  height: 300px; 
}

.return{
  FONT-SIZE: 25PX;
    POSITION: absolute;
    MARGIN-LEFT: 10PX;
}
.header{
  margin-top: 4%;
}



.top-txt{
    display: grid;
    margin: auto;
    text-align: center;

    FONT-WEIGHT: BOLD;
    FONT-SIZE: 20PX;
}
.seg{
    margin-top: 7%;
}
.serv{

  MARGIN-LEFT: 5PX;
    MARGIN-RIGHT: 5PX;
  MARGIN-TOP: -30PX;
  display: grid;
 
}

.rows{
    display: flex;
}
.img-serv{
    BORDER-TOP-RIGHT-RADIUS: 10PX;
    BORDER-TOP-LEFT-RADIUS: 10PX;
    box-shadow: 2px 0px 10px -4px rgb(0 0 0 / 80%), -2px 0px 10px -4px rgb(0 0 0 / 80%);
}
.sp{
  
    POSITION: relative;
    BACKGROUND-COLOR: #FFF;
    BORDER-RADIUS: 10PX;
    MARGIN-TOP: -30PX;

    Z-INDEX: 10;
  
}
.serv-name{
    margin-left: 10%;
    FONT-SIZE: 12PX;
    FONT-FAMILY: ROBOTO;
}
.like{
    z-index: 99;
    POSITION: absolute;
    LEFT: 80%;
    TOP: 55%;
    HEIGHT: 50PX;WIDTH: 50PX;
    BORDER-RADIUS: 50PX;
    background: linear-gradient( #DB417B 0%, #86338B 100%);
    
  }
  .like-icon{
    COLOR: #fff; 
  }
  .btnlike{
    background: linear-gradient(#DB417B, #86338B);
    POSITION: ABSOLUTE;
    HEIGHT: 30PX;
    BORDER-RADIUS: 100PX;
    WIDTH: 30PX;
    TOP: -15PX;
    LEFT: 75%;
  }
  .informations{
    FONT-SIZE: 15PX;
    text-align: center;
    display: flex;
    text-align: center;
    DISPLAY: flex;
  }
  .location{
    color: #DB417B;
  }
  .rate{
    color: #f1b257;
  }
  .person{
    color: #86338b;
  }
  .profile-image{
    width: 40PX;
    HEIGHT: 40PX;
    BORDER-RADIUS: 50PX;
    POSITION: relative;
    DISPLAY: FLEX;
    top: 50PX;
    LEFT: 10PX;
  }