<ion-content style="overflow-x: scroll;">
  <ion-label class="lab">Catégories</ion-label>
  <div>
  
    <img src="../assets/img/pub.png" class="caroussel">
    <img class="position-logo"  src="../assets/img/hiddenlogo.png">
    </div>
  <ion-list style="z-index: 100;">

    <ion-button color="dark" class="btns"  ion-item routerLink="./restaurants" >
      <ion-icon name="restaurant-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Restaurants</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>

    <ion-button color="dark" class="btns"  ion-item ion-item routerLink="./bien-etre" >
      <ion-icon name="heart-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Bien-etre</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
   
    <ion-button color="dark" class="btns"  ion-item routerLink="./events" >
      <ion-icon name="star-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Evenemants</span> 
    <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
    
    
    <ion-button color="dark" class="btns"  ion-item routerLink="./travaux" >
      <ion-icon name="construct-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Travaux</span>
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon> 
    </ion-button>

    <ion-button color="dark" class="btns"  ion-item routerLink="./vetemant">
      <ion-icon name="shirt-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Vetemant</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
  

    <ion-button color="dark" class="btns"  ion-item routerLink="./sante">
      <ion-icon name="fitness-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Santé</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
 
     
    <ion-button color="dark" class="btns"  ion-item routerLink="./nature">
      <ion-icon name="leaf-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Nature</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
  
    <ion-button color="dark" class="btns"  ion-item routerLink="./auto-moto">
      <ion-icon name="car-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Auto-Moto</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>

    
    <ion-button color="dark" class="btns"  ion-item routerLink="./services">
      <ion-icon name="settings-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Services</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>


    <ion-button color="dark" class="btns"  ion-item  routerLink="./commerce">
      <ion-icon name="cash-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Commercial</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>

   
    <ion-button color="dark" class="btns"  ion-item routerLink="./orignales-acts">
      <ion-icon name="finger-print-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Activités Orignales</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
   
    <ion-button color="dark" class="btns"  ion-item  routerLink="./culture">
      <ion-icon name="book-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Culture et Loisirs</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
    
    <ion-button color="dark" class="btns"  ion-item  routerLink="./animaux">
      <ion-icon name="paw-outline" class="icons" item-start></ion-icon>
     <span class="span-txt">Animaux</span> 
     <ion-icon name="chevron-forward-outline" class="arrow"></ion-icon>
    </ion-button>
   
    </ion-list>
</ion-content>
