<ion-content>
<ion-label class="inscri">Inscription</ion-label>
<ion-label class="media">Média</ion-label>
<div>
<div>
  <ion-label  >Ajouter photo de profile</ion-label>
<ion-button color="primary" class="col-8"><ion-label>Ajouter image</ion-label></ion-button>
</div>
<ion-label  >Ajouter photo de couverture</ion-label>
<ion-button color="primary" class="col-8"><ion-label>Ajouter image</ion-label></ion-button>
</div>
</ion-content>
