.inscri{
    FONT-FAMILY: ROBOTO;
    display: inline-flex;
    margin-top: 40PX;
    MARGIN-LEFT: 30PX;
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 30PX;
    COLOR: #db417b;
}
.media{
    FONT-FAMILY: ROBOTO;
    FONT-WEIGHT: BOLD;
    FONT-SIZE: 25PX;
    display: BLOCK;
    margin: 10%;

}