

   


<ion-content class="content" >
  <img src="../assets/img/logolion.jpg"  class="profil-photo">
  <p class="parag" >categorie name here</p>

  <h6 class="h6style">profile name here</h6>

    <img src="../assets/img/Banner.png" class="img1" >
    <div class="underimg1">
      <img src="../assets/img/logolion.jpg"  class="profil-photo">
    <ion-card class="card">
    <ion-fab class="fab" >
      <ion-button  color="warning" shape="round" class="like" ion-fab >
        <div class="div1">
        <ion-icon name="heart" class="like-icon" ></ion-icon></div>
      </ion-button>
    </ion-fab>
  
    <div class="divprofile" >
      <h2 class="profiletxt" >profile name here</h2>
</div>
  
    <div class="div2">
       <div  class="col-4 color1">
        <ion-icon name="location-outline"  class="icon" ></ion-icon>
        <span item-start>50 Métres</span>
      </div>
      <div  class="col-4 color2">
        <ion-icon name="star-outline" class="icon" ></ion-icon>
        <span item-start>5</span>
      </div>
      <div  class="col-4 color3">
        <ion-icon name="person-outline" class="icon" ></ion-icon>
        <span item-start>47</span>
      </div>
    </div>

  </ion-card>
  <div class="bordure"></div>
  
</div>

<div style="display: block;margin: 2%">
  <ion-segment [(ngModel)]="info">
    <ion-segment-button class="segmbtn"  value="propos" checked>
     <ion-label> A propos</ion-label>
    </ion-segment-button>
    <ion-segment-button  class="segmbtn"  value="Services">
      Services
    </ion-segment-button>
  
  <ion-segment-button class="segmbtn"  value="Galeries">
    Galeries
  </ion-segment-button>

<ion-segment-button class="segmbtn" value="Avis">
  Avis
</ion-segment-button>
</ion-segment>

</div>

<div [ngSwitch]="info">
  <ion-list *ngSwitchCase="'propos'">
 
<p class="prag" >It is a long established fact that a reader will be distracted by the readable content of
   a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
   normal distribution of letters, as opposed to using 'Content here, content here', making it look </p>
     
 
      
     <div class="cont" >
      <div class="col-6 col6" >
        <ion-icon name="time-outline" class="apropos-icons "></ion-icon>
       <ion-label class="inf" >09:00-20:00</ion-label>
      </div>
      <div  class="col-6 col6"  >
       <ion-icon name="mail-outline" class="apropos-icons "></ion-icon>
       <ion-label class="inf"  >example@domain.com</ion-label>
      </div>
    </div>
    <div class="cont" >
      <div class="col-6 col6" >
        <ion-icon name="call-outline" class="apropos-icons "></ion-icon>
        <ion-label class="inf" >22333444</ion-label>
      </div>
      <div class="col-6 col6" >
        <ion-icon name="location-outline" class="apropos-icons "></ion-icon>
       <ion-label class="inf" >location location</ion-label>
      </div>
    </div>
   
    
    <ion-card>
      <img src="../assets/img/random.jpg">
    </ion-card>
 
 
 
  </ion-list>
  <ion-list *ngSwitchCase="'Services'">
 <ion-label class="labswich">Service</ion-label>
 <div class="div3">
  <ion-row class="row-marg">
  <ion-label  class="col-10">service1</ion-label >
  <ion-label class="col-2">prix$</ion-label>
</ion-row> 
<ion-row class="row-marg">
  <ion-label  class="col-10">service2</ion-label >
  <ion-label class="col-2">prix$</ion-label>
</ion-row> 
<ion-row  class="row-marg">
  <ion-label  class="col-10">service3</ion-label >
  <ion-label class="col-2">prix$</ion-label>
</ion-row> 
</div>

<div class="event-cont">
  <img class="event" src="../assets/img/event.png"/>
  
    <div>
    <ion-col class="event-title">
     Event Name
      </ion-col>
      <ion-col class="date">Date/heure</ion-col>
    </div>
    <p class="event-descri">
      Il n'a pas fait que survivre cinq siècles, mais s'est aussi 
adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
    </p>
</div>



</ion-list>
  <ion-list *ngSwitchCase="'Galeries'">
    <ion-label class="labswich" >Galeries</ion-label>
    <div class="galeries">
      <div class="item">
      
        <img src="../assets/img/Banner.png">
      </div>
      <div class="item">
    
        <img src="../assets/img/Banner.png">
      </div>
      <div class="item">
    
        <img src="../assets/img/Banner.png">
      </div>
      <div class="item">
    
        <img src="../assets/img/Banner.png">
      </div>
    </div>
</ion-list>
<ion-list *ngSwitchCase="'Avis'">
  <ion-label class="divavis" >Avis</ion-label>
  <div style="TEXT-ALIGN-LAST: LEFT">
    <label class="col-6 avisglob" >Note globale</label>
  <div class="rating-box col-6">
    <div class="rating-container">
    <input type="radio" name="" value="5" id="star-5"> <label for="star-5">&#9733;</label>
    
    <input type="radio" name="" value="4" id="star-4"> <label for="star-4">&#9733;</label>
    
    <input type="radio" name="" value="3" id="star-3"> <label for="star-3">&#9733;</label>
    
    <input type="radio" name="" value="2" id="star-2"> <label for="star-2">&#9733;</label>
    
    <input type="radio" name="" value="1" id="star-1"> <label for="star-1">&#9733;</label>
  </div>
  </div> 
  <ion-row> <label class="col-6 avisglob" >{{i}} Avis</label></ion-row>
 
</div>




<div *ngFor="let item of items;let i = index" class="lesavis" >
  <div class="rating-container">
    <input type="radio" name="rating" value="2" id="star-2" class="inputavis"> <label for="star-2">&#9733;</label>
  </div>
  <div class="divinline" >
  <img src="../assets/img/logolion.jpg" class="photo-commantaire">
     <div class="col-8">
        <div class="sentiment" >Excellant</div>
        <div class="col-4 userlabel" >username here</div>
        <div class="row msg">{{item.message}}</div>
     </div>
</div>
</div>
<form >
  <ion-textarea clearOnEdit="true" placeholder="Votre Avis" class="votreavis" id="newItemMessage" 
  [(ngModel)]="newItem.message" name="newItemMessage"></ion-textarea>

  <div>
    <label class="col-6" class="votrenote">Votre note</label>
      <div class="rating-box col-6">
     <div class="rating-container">
       <input type="radio" name="rating" value="5" id="star-5"> <label for="star-5">&#9733;</label>
    
       <input type="radio" name="rating" value="4" id="star-4"> <label for="star-4">&#9733;</label>
    
       <input type="radio" name="rating" value="3" id="star-3"> <label for="star-3">&#9733;</label>
    
       <input type="radio" name="rating" value="2" id="star-2"> <label for="star-2">&#9733;</label>
    
      <input type="radio" name="rating" value="1" id="star-1"> <label for="star-1">&#9733;</label>
     </div>
     </div>
      <ion-button color="primary" class="submit" (click)="addItems()"><label >Submit</label></ion-button>
  </div>
</form>
</ion-list>


</div>

</ion-content>
