.content{
  overflow-x: scroll;
}
.parag{
  FONT-FAMILY: RUBIK;
  font-size: 12PX;
  COLOR: #E0E0E0;
  text-align: center;
}
.img1{
  display: block;width: -webkit-fill-available;
  height: auto;
    margin: auto;
     border-top-left-radius: 10PX;
     border-top-right-radius: 10PX;
}
.underimg1{
  MARGIN-TOP: -10PX;
   border-top-left-radius: 10PX;
   border-top-right-radius: 10PX;
}
.card{
  display: contents;overflow-x: scroll;
}
.fab{
  Z-INDEX: 100;MARGIN-LEFT: 75%;MARGIN-TOP: -20PX;
}
.div1{
  FONT-SIZE: xx-large;
}
.profiletxt{
  font-size: x-large;
}
.divprofile{
  DISPLAY: inline-flex;
  MARGIN-LEFT: 5%;
  FONT-SIZE: 22PX;
  FONT-FAMILY: RUBIK;
  COLOR: BLACK;
}
.div2{
  text-align: center;DISPLAY: flex;
}
.color1{
  color: #DB417B;
}
.color2{
  color: #f1b257;
}
.color3{
  color: #86338b;;
}
.segmbtn{
  FONT-SIZE: 11PX;
}
.prag{
  display: block;
  margin: 5%;
  FONT-FAMILY: ROBOTO;
  FONT-SIZE: 14PX;
  COLOR: #696969;
}
.col6{
  display: flex;MARGIN-TOP: 10PX;ALIGN-ITEMS: CENTER;
}
.cont{
  DISPLAY: flex;MARGIN-LEFT: 10%;
}
.labswich{
  DISPLAY: block; MARGIN: 20PX;FONT-WEIGHT: BOLD;FONT-SIZE: 23PX;
}
.div3{
  margin-left: 5%;
}
.divavis{
  MARGIN: 20PX;FONT-WEIGHT: BOLD;FONT-SIZE: 23PX;
}
.avisglob{
  MARGIN: 20PX;FONT-WEIGHT: BOLD;
}
.lesavis{
  margin-top: 10%;
}
.inputavis{
  MARGIN-LEFT: 33%;
}
.sentiment{
  font-weight: bold;
}
.divinline{
  display: inline-flex;
}
.userlabel{
  DISPLAY: INLINE;font-family: monospace;
}
.msg{
  display: block;margin-left: 0PX;margin-right: 10%;
}
.votreavis{
  margin-left: 10PX;
}
.votrenote{
  MARGIN: 20PX;FONT-WEIGHT: BOLD;
}
.submit{
  display:block;color: #fff;
}
.h6style{
  FONT-FAMILY: RUBOK;
    FONT-SIZE: 22PX;
    FONT-WEIGHT: BOLD;
    text-align: center;
    MARGIN-TOP: -3%;
}
.profil-photo{
  POSITION: absolute;
  z-index: 100;
  TOP: 20%;
  LEFT: 5%;
  BORDER-RADIUS: 25PX;
  HEIGHT: auto;
  WIDTH: 70PX;
}
.row-marg{
  margin-top: 7%;
}
.icon{
  font-size: 20PX;
    VERTICAL-ALIGN: sub;

}
.like{
  
  HEIGHT: 60PX;WIDTH: 60PX;
  BORDER-RADIUS: 50PX;

  
}
.like-icon{
  COLOR: #fff; 
}

.bordure {
  border-bottom: 1px solid #e0e0e0;
  MARGIN-TOP: 10PX;
  MARGIN-LEFT: 5%;
  MARGIN-RIGHT: 5%;
  }
  .apropos-icons{
     
      font-size: x-large;
      color: #DB417B;
  }
  .cards{

  ALIGN-ITEMS: center;
  }
  .inf{
    FONT-SIZE: 10PX;
      margin-left: 10PX;
  }
  h4{
    text-align:center; 
    line-height:80px;
    font-weight:normal;
  
  }
  
  .galeries {
    display: inline-block;
      -webkit-column-count: 4;
    -moz-column-count:4;
    column-count: 4;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
     margin: 1.5em;
      padding: 0;
      -moz-column-gap: 1.5em;
      -webkit-column-gap: 1.5em;
      column-gap: 1.5em;
      font-size: .85em;
  }
  .item {
      display: inline-block;
      background: #fff;
      padding: 1em;
      margin: 0 0 1.5em;
      width: 100%;
     -webkit-transition:1s ease all;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      
    
  }
  .item:active img {
    -webkit-transform: scale(2);
    transform: scale(2);
    cursor: zoom-out;
}

  .item img{max-width:100%;}
  
  @media only screen and (max-width: 320px) {
      .galeries {
          -moz-column-count: 1;
          -webkit-column-count: 1;
          column-count: 1;
      }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 768px){
      .galeries {
          -moz-column-count: 2;
          -webkit-column-count: 2;
          column-count: 2;
      }
  }
  @media only screen and (min-width: 769px) and (max-width: 1200px){
      .galeries {
          -moz-column-count: 3;
          -webkit-column-count: 3;
          column-count: 3;
      }
  }
  @media only screen and (min-width: 1201px) {
      .galeries {
          -moz-column-count: 4;
          -webkit-column-count: 4;
          column-count: 4;
      }
  }
  
  
  .btn-close{
    position: absolute;
    top: -34px;
    right: 10px;
    background-color: transparent;
}
.input , .message {
    background-color: white;
    height: 35px;
    color:black;
    border-radius: 3px ;
    border: solid 0.5px #ccc;
    font-size: 10px;
    margin-top: 7px ;
    width: auto;
}
.message{
    height: 200px !important;
}
.label{
    color : black;
    font-size: 12px;
    font-weight: 500;
}
.button-connect{
   
    background-color:var(--ion-color-secondary);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 4px !important;
    border:solid 1px var(--ion-color-secondary);
    width: 300px;
}
.content-modal{
    max-width: 100%;
    margin-right: -58px;
    overflow-y:auto;
    overflow-x:hidden;
}
ion-content{
    --ion-background-color:white !important;
}
.rating-box {
    display: inline-block;
    .rating-container {
      direction: rtl !important;
      label {
        display: inline-block;
        margin: 15px 0;
        color: #d4d4d4;
        cursor: pointer;
        font-size: 30px;
        transition: color 0.2s;
      }
      input {
        display: none;
      }
      label:hover, label:hover ~ label, input:checked ~ label  {
        color: #f1b257;
      }
    }
  }
  .photo-commantaire{
    width: 60PX;
    HEIGHT: 60PX;
    BORDER-RADIUS: 50PX;
  }
  .event{
    display: block;
    margin: auto;
    border-radius: 10PX;
}
.event-title{
FONT-SIZE: 20PX;
MARGIN-LEFT: 10%;
COLOR: #F1B257;
}
.event-descri{
    display: block;
MARGIN-RIGHT: 10%;
MARGIN-LEFT: 10%;
COLOR: #696969;
}
.date{
    color: #DB417B;
    MARGIN-LEFT: 25%;
}
.event-cont{
  margin-top: 5%;
}