
<ion-content style="overflow-x: scroll;">
  <ion-label class="lab">Animaux</ion-label>
  <div>
  
    <img src="../assets/img/pub.png" class="caroussel">
    <img class="position-logo"  src="../assets/img/hiddenlogo.png">
    </div>
  <ion-list style="z-index: 100;">

  
     <span class="span-txt" >Restaurants</span> 
     <span class="span-txt" >Snack/Pizzeria</span>
     <span class="span-txt" >PUB</span>
     <span class="span-txt" >Boulangerie</span>
     <span class="span-txt" >Bar à Chicha</span>
     <span class="span-txt" >Épicerie</span>
     <span class="span-txt" >Salon de Thé</span>
     <span class="span-txt" >Dons alimentaires</span>
    </ion-list>
</ion-content>
