
<ion-content style="overflow-x: scroll;">
    <ion-searchbar placeholder="recherche" [(ngModel)]="filterTerm" animated="true" no-border></ion-searchbar>
    <ion-list style="display: grid;margin-top: 5%;">
  <ion-button color="danger" *ngFor="let categorie of categories | filter:filterTerm">{{categorie.name}} </ion-button>
    </ion-list>
</ion-content>
