
<ion-content class="content">
  <div>
    <img src="../assets/img/Banner.png" class="caroussel">
    </div>
    <div>
      <img src="../assets/img/profile.png" class="profil-photo">
    </div>
   
<ion-label class="categories col-2">description</ion-label>
<ion-icon name="ellipsis-horizontal-outline" class="b-eff col-10" > 
</ion-icon>
 <div><p class="descri">Il n'a pas fait que survivre cinq siècles, mais s'est aussi 
  adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
   </div>

 
   <div class="segmentstyle">
    <ion-segment [(ngModel)]="info">
      <ion-segment-button  class="button-style" value="coordonnee" checked>
       <ion-label>Coordonnée</ion-label>
      </ion-segment-button>
      <ion-segment-button class="button-style" value="Services">
        Services
      </ion-segment-button>
    
    <ion-segment-button  class="button-style" value="Galeries">
      Galeries
    </ion-segment-button>
  
  <ion-segment-button class="button-style" value="events">
    Evenements
  </ion-segment-button>
  </ion-segment>
  
  </div>
  <div [ngSwitch]="info">
    <ion-list *ngSwitchCase="'coordonnee'" style="margin-top: 10%;">
      <ion-label class="labels">Coordonnée</ion-label>
      <ion-icon name="ellipsis-horizontal-outline" class="b-eff col-10" > </ion-icon>
       <div  class="containinfo">
        <div class="col-6 col6" >
          <ion-icon name="time-outline" class="apropos-icons "></ion-icon>
         <ion-label class="inf" >09:00-20:00</ion-label>
        </div>
        <div  class="col-6"  style="display: flex;MARGIN-TOP: 10PX;ALIGN-ITEMS: CENTER;">
         <ion-icon name="mail-outline" class="apropos-icons "></ion-icon>
         <ion-label class="inf"  >example@domain.com</ion-label>
        </div>
      </div>
      <div class="containinfo">
        <div class="col-6 col6" >
          <ion-icon name="call-outline" class="apropos-icons "></ion-icon>
          <ion-label class="inf" >22333444</ion-label>
        </div>
        <div class="col-6 col6" class="col6" >
          <ion-icon name="location-outline" class="apropos-icons "></ion-icon>
         <ion-label class="inf" >location location</ion-label>
        </div>
      </div>
     <div>
      <ion-icon name="ellipsis-horizontal-outline" class="b-eff1 col-10" > </ion-icon>
     
        <img class="map" src="../assets/img/random.jpg">
      
    </div>
    </ion-list>


    <ion-list *ngSwitchCase="'Services'">
      <ion-icon name="ellipsis-horizontal-outline" class="b-eff1 col-10" > </ion-icon> 
      <ion-label class="labels">Service</ion-label>
      
      
        
      

      <div style="margin-left: 5%;">
       <ion-row class="row-marg">
       <ion-label  class="col-10">service1</ion-label >
       <ion-label class="col-2">prix$</ion-label>
     </ion-row> 


     <ion-row class="row-marg">
       <ion-label  class="col-10">service2</ion-label >
       <ion-label class="col-2">prix$</ion-label>
     </ion-row> 
     <ion-row  class="row-marg">
       <ion-label  class="col-10">service3</ion-label >
       <ion-label class="col-2">prix$</ion-label>
     </ion-row> 
     </div>
     </ion-list>







     <ion-list *ngSwitchCase="'Galeries'">
      <ion-icon name="ellipsis-horizontal-outline" class="b-eff1 col-10" > </ion-icon> 
      <ion-label class="labels">Galeries</ion-label>
      <div class="galeries">
        <div class="item">
        
          <img src="../assets/img/Banner.png">
        </div>
        <div class="item">
      
          <img src="../assets/img/Banner.png">
        </div>
        <div class="item">
      
          <img src="../assets/img/Banner.png">
        </div>
        <div class="item">
      
          <img src="../assets/img/Banner.png">
        </div>
      </div>
  </ion-list>





  <ion-list *ngSwitchCase="'events'">
    <ion-icon name="ellipsis-horizontal-outline" class="b-eff1 col-10" > </ion-icon> 
    <ion-label  class="labels">Evenements</ion-label>
 
 
 <div>
    <img class="event" src="../assets/img/event.png"/>
    
      <div>
      <ion-col class="event-title">
       Event Name
        </ion-col>
        <ion-col class="date">Date/heure</ion-col>
      </div>
      <p class="event-descri">
        Il n'a pas fait que survivre cinq siècles, mais s'est aussi 
  adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
      </p>
</div>
</ion-list>

  </div>
  
</ion-content>
