
.footer{
    HEIGHT: 70PX;
    
}
.ico{
    color: #db417b;

}
.caroussel{
    display: GRID;
    margin: auto;
    margin-top: 3%;
    BORDER-RADIUS: 10PX;
    WIDTH: 90%;
   

}
.profil-photo{
    DISPLAY: grid;
    Z-INDEX: 10;
    margin: auto;
    MARGIN-TOP: -5%;
    BORDER-RADIUS: 50%;
    HEIGHT: 100PX;
    WIDTH: 100PX;
}
.btn-cat{
    height: 50PX;
    width: 150PX;
}
.service-name{
    position: absolute;
    margin: auto;
    MARGIN-LEFT: 20%;
    top: 113PX;
    z-index: 100;
    FONT-SIZE: 15PX;
    font-family: rubik;
    color:  #e0e0e0;
}
.categories{
    FONT-SIZE: 16px;
    color:  #db417b;
    FONT-SIZE: 20PX;
    margin-left: 5%;
    
}
.icons{
    color: #86338b;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 20PX;
    left: 0;
}
.span-txt{
    font-family: Roboto;
    color: #86338b;
    position: absolute;
    margin: auto;
    top: 35PX;
    right: 0;
    bottom: 0;
    left: 0;  
}
.tout-aff{
   color: #2C2C2C;
    FONT-SIZE: small;
    font-family: monospace;
    DISPLAY: block;
    margin: auto;
   z-index: 1000;
}
.btns{
    MARGIN: 7PX;
    WIDTH: 130PX;
    HEIGHT: 60PX;
    box-shadow: 2px 4px 6px -6px #707070;
   border-radius: 12PX !important;
}
.scroll{
color: #F2F2F2;
}
.descri{
    font-size: 14px;
    MARGIN-TOP: 5%;
    display: inline-flex;
    margin-left: 5%;
    MARGIN-RIGHT: 10PX;
    color: #666666;
}
.b-eff{
    POSITION: absolute;
    WIDTH: 30PX;
    LEFT: 45%;
    MARGIN-LEFT: 40%;
    
}
.b-eff:hover{
    color: #db417b;
}
.apropos-icons{
     
    font-size: x-large;
    color: #DB417B;
}
.containinfo{
    MARGIN-TOP: 5%;
    display: flex;
    margin-left: 5%;
    font-size: x-small;
}
.map{
    margin-top: 20%;
    DISPLAY: inline-flex;
}

  
    .b-eff1{
        POSITION: absolute;
        WIDTH: 30PX;
        LEFT: 45%;
        MARGIN-LEFT: 40%;
        MARGIN-TOP: 10%;
    }
    .b-eff1:hover{
        color: #db417b;
    }
    .row-marg{
        margin-top: 15%;
        
    }
    .deb-fin{
        text-align: center;
    }
    .labels{
        DISPLAY: block; MARGIN: 20PX;FONT-WEIGHT: BOLD;FONT-SIZE: 23PX;
    }
    .button-style{
        FONT-SIZE: 11PX;
    }
    .col6{
        display: flex; MARGIN-TOP: 10PX;ALIGN-ITEMS: CENTER;
    }
    .segmentstyle{
        display: block;margin: 2%;
    }
    .content{
        overflow-x: scroll;
    }
    .event{
        display: block;
        margin: auto;
        border-radius: 10PX;
    }
    .event-title{
    FONT-SIZE: 20PX;
    MARGIN-LEFT: 10%;
    COLOR: #F1B257;
    }
    .event-descri{
        display: block;
    MARGIN-RIGHT: 10%;
    MARGIN-LEFT: 10%;
    COLOR: #696969;
    }
    .date{
        color: #DB417B;
        MARGIN-LEFT: 25%;
    }